{% extends 'base.html' %}

{% block content %}

<h2>Dashboard</h2>
<p>Welcome back 👋</p>

<hr>

<div class="row">

    <div class="col-md-4">
        <div class="dashboard-card bg-expense">
            <h5>Total Expenses</h5>
            <h2>₹ {{ total_expense }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="dashboard-card bg-task">
            <h5>Pending Tasks</h5>
            <h2>{{ pending_tasks }}</h2>
        </div>
    </div>

    <div class="col-md-4">
        <div class="dashboard-card bg-note">
            <h5>Pinned Notes</h5>
            <h2>{{ pinned_notes|length }}</h2>
        </div>
    </div>

</div>

<hr>

<h4>Pinned Notes</h4>

<ul class="list-group">
    {% for note in pinned_notes %}
        <li class="list-group-item">{{ note.title }}</li>
    {% empty %}
        <li class="list-group-item">No pinned notes</li>
    {% endfor %}
</ul>

{% endblock %}