{% extends 'base.html' %}

{% block content %}

<h2>Income Tracker</h2>

<form method="POST">
    {% csrf_token %}
    <input name="amount" class="form-control mb-2" placeholder="Amount">
    <input name="source" class="form-control mb-2" placeholder="Source">
    <input type="date" name="date" class="form-control mb-2">
    <button class="btn btn-success">Add Income</button>
</form>

<hr>

<h4>Total Income: ₹ {{ total_income }}</h4>

<ul class="list-group mt-2">
    {% for i in incomes %}
        <li class="list-group-item">
            {{ i.source }} - ₹{{ i.amount }} ({{ i.date }})
        </li>
    {% endfor %}
</ul>

{% endblock %}