{% extends 'base.html' %}

{% block content %}

<h2>Notes</h2>

<form method="POST" class="mb-3">
    {% csrf_token %}
    <input name="title" class="form-control mb-2" placeholder="Title">
    <textarea name="content" class="form-control mb-2"></textarea>
    <button class="btn btn-success">Add Note</button>
</form>

<ul class="list-group">
{% for i in data %}
    <li class="list-group-item">
        <b>{{ i.title }}</b> - {{ i.content }}
    </li>
{% empty %}
    <li class="list-group-item">No notes yet</li>
{% endfor %}
</ul>

{% endblock %}