body {
    background: linear-gradient(to right, #6a11cb, #2575fc);
    font-family: Arial;
}

.card {
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
}

.center-box {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar {
    background: #1e1e2f;
    height: 100vh;
}

.sidebar a {
    color: white;
    text-decoration: none;
    margin-bottom: 10px;
    display: block;
}

.sidebar a:hover {
    color: #6a11cb;
}

.dashboard-card {
    border-radius: 12px;
    padding: 20px;
    color: white;
}

.bg-expense { background: #ff6b6b; }
.bg-task { background: #feca57; }
.bg-note { background: #48dbfb; }